.header{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    position: relative;
}

p{
    font-size: 1.5rem;
    font-weight: 300;
}

img{
    transition: transform 0.3s ease;
}
img:hover {
    transform: scale(1.1);
}

.Cust img{
    width: 1116px;
}

